.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    border-bottom-color: #e0e0e0;
    height: 40px;
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    align-items: center;
}

.right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 40px;
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    border-top-color: #e0e0e0;
    align-items: center;
}

.full_site {
    position: relative;
    min-height: 100vh;
}

.dashboard-username {
    font-family:'Roboto',sans-serif;
    font-size: 30px;
}