.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    border-bottom-color: #e0e0e0;
    height: 40px;
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    align-items: center;
}

.right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 40px;
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    border-top-color: #e0e0e0;
    align-items: center;
}

.full_site {
    position: relative;
    min-height: 100vh;
}

.dashboard-username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.props-body {
    padding-bottom: 5%;
}