.selectBox {
    margin-top: 10px;
    width: 100%;
    padding-left: 16px;
}



.box {
    position: absolute;
    cursor: move;
    color: black;
    background-color: white;
    max-width: 215px;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
}

body {
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background: rgb(34, 193, 195);
    background: linear-gradient(337deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#new-item {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-radius: 5px 0px 0px 5px;
    color: white;
    font-size: 1.3em;
    background-color: transparent;
    padding: 0.5em;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    background-color: gray;
    font-size: 1em;
    padding: 0.7em;
    border-radius: 0px 5px 5px 0px;
}

button:hover {
    background-color: rgb(173, 162, 162);
}

#delete {
    font-size: 0.6em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}

#delete:hover {
    color: rgb(255, 55, 55);
}

.create_lesson_box {
    font-size: 12px;
    max-width: 100%;
}



/* ------------------DASHBOARD BODY------------------ */


.dashboard-class-body {
    flex-basis: 60%;
    border-radius: 0.5rem;
    /* background-color: #fdbb2d; */
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    align-self: flex-start;
    max-width: 30%;
    padding: 15px
}

.dashboard-body-lessons {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;

}

.dashboard-body {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}

.lessons-body {
    max-width: 100%;
}

.lessons-list-body {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.dashboard-body-2 {
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    height: 550px;
}

.dashboard-body-2:hover {
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
}

.classes-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dashboard-title {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.create-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0.5rem;
}

.button-div {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
    background-color: #42cc8c
}

.button-div:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* ------------------POPULATED LISTS------------------ */

.entire-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    box-shadow: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;
    box-sizing: content-box;
    position: relative;
    height: 4.5rem;
    color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 50px;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: transform .1s, box-shadow .1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    z-index: 99;
}

.title-text {
    margin-left: -1.5rem;
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

.class-title {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .3px;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: 0 1px 2px rgb(0 0 0 / 80%);
    border-radius: 0 2px 2px 0;
}

.class-subject {
    font-weight: 400;
    opacity: .8;
    letter-spacing: .2px;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 0 2px 2px 0;
    font-size: 1rem;
}

.title-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 49px 49px 50px;
}

.title-bg-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 49px 49px 50px;
}

.title-bg-gradient {
    background-image: url('../pictures/purple-gradient.jpg');
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 49px 49px 50px;
}

.close-icon,
.button-div {
    cursor: pointer
}

.close-icon:hover {
    background-color: white;
}

.create_class_box {
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 40%);
    background-color: #fdbb2d;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-classes {
    text-shadow: .2px .25px #000000;
    box-shadow: 0 0 0.45rem rgba(0, 0, 0, 0.4);
    text-align: center;
}

.also-delete-button {
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.delete-button {
    color: white;
    padding: 0px;
    height: 20%;
    font-size: 12px;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pop-delete {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ---------------Lessons List--------------- */

.main-lesson-box {
    padding: 10px;
    margin-top: 40px;
    margin-right: 8px;
    max-width: 30%;
    background-color: #fff;
    opacity: .8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
}

.lesson-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.lesson-box:hover {
    box-shadow: 0 0 0.45rem rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.main-lesson-box:hover {
    opacity: 1;
}

.lesson-import {
    font-size: .9rem;
}

.date-name {
    color: #cfa32a;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.warmup-name {
    color: #da9630;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.rep-name {
    color: #cf592a;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.rp-name {
    color: #cd44f0;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.assess-name {
    color: #5a1bcf;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.homework-name {
    color: #0413e9;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.accom-name {
    color: #1dc06f;
    font-weight: 700;
    line-height: 1;
    font-size: 1.15rem;
}

.signin-up {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
}